{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-index text-white text-center py-4">
  <div class="container d-flex align-items-center flex-column pt-2">
    <h2>GT Movies Store</h2>
    <p>Your Georgia Tech Entertainment Service</p>
  </div>
</header>
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto text-center mb-3">
        <h4>Welcome to GT Movies Store!</h4>
        <p> Welcome to GT Movies Store where every movie night is Yellow Jacket-approved. <br>
              Enjoy our user-friendly, immersive experience and explore sophisticatedly-curated 
              world of films from the comfort of your home.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}